<h1>Showing Status</h1>
<p id="notice"><%= notice %></p>

<p>You are <%= @point.statpoint %>% done...</p>


<% if current_user.good_cop? %>
     <%= @point.gmessage.body %>
     <img src='<%= @point.gmessage.photo_url %>'>
<% else %>
     <%= @point.bmessage.body %>
     <img src='<%= @point.bmessage.photo_url %>'>
<% end %>
