<h1>Showing Status</h1>
<p id="notice"><%= notice %></p>

<p>You are <%= @point.statpoint %>% done...</p>


  <p><%= @point.message.body %></p><br>
  <img src='<%= @point.message.photo_url %>'>

<% if @current_user.good_cop? %>
     <%= @point.good_message.body %>
     <img src='<%= @point.good_message.photo_url %>'>
<% else %>
     <%= @point.bad_message.body %>
     <img src='<%= @point.bad_message.photo_url %>'>
<% end %>
