<p id="notice"><%= notice %></p>
<div class="jumbotron">
      <div class="container">
        <h1>Your Tasks</h1>
        <p>View your current tasks and create new ones.</p>
      </div>
    </div>
<br>
<br>
<br>
<tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><h2><%= link_to task.name, task, class: "black" %></h2></td>
        <td><%= link_to 'Edit', edit_task_path(task), class: "black" %> | <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "black" %></td><br><br>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="btn btn-info">
<%= link_to 'Add a New Task', new_task_path %>
</div>
