<p id="notice"><%= notice %></p>
<h1>Your Tasks</h1>
<br>
<tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><h2><%= link_to task.name, task %></h2></td><br>
        <td><%= link_to 'Edit', edit_task_path(task) %> | <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td><br><br>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="button">
<%= button_to 'Add a New Task', new_task_path %>
</div>
