<p id="notice"><%= notice %></p>

<h1>
<%= @task.name %>
</h1>
<p> Due By:
<%= @task.due_by %>
</p>
<p> Estimated time:
<%= @task.est_time %>
</p>
<p> Status:
<%= @task.status %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %> |
<%= link_to 'Motivate Me', task_messages_path(@task.id)%>
