<p id="notice"><%= notice %></p>
<div class="jumbotron">
      <div class="container">
        <h1>
          <%= @task.name %>
        </h1>
      </div>
    </div>
    <br><br><br>

<h1> You have <%= Time.diff(Chronic.parse(@task.due_by), Chronic.parse('today'), '%d and %h:%m')[:diff] %> left to complete: </h1>

<br>

<p> Due By:
<%= @task.due_by %>
</p>
<p> Estimated time:
<%= @task.est_time %>
</p>


<%= link_to 'Edit', edit_task_path(@task), class: "black" %> |
<%= link_to 'Back', tasks_path, class: "black" %>
<br><br><br>
<div class="btn btn-info">
<%= link_to 'How far along are you?', points_path%>
</div>
